<div class="col_three_fifth bottommargin-lg">
  <p-galleria [images]="images" panelWidth="500" panelHeight="280" (onImageClicked)="getArticle($event.image)"></p-galleria>
</div>

<div class="col_two_fifth bottommargin-lg col_last">

  <div class="spost clearfix" *ngFor="let article of articles | slice:6:12; let i=index">
    <div class="entry-c">
      <div class="entry-title">
        <h4>
          <a href="#">{{article.title}}</a>
        </h4>
      </div>
    </div>
  </div>

</div>

<div class="clear"></div>
