<header id="header" class="sticky-style-2">

  <div class="container clearfix">

    <!-- Logo
      ============================================= -->
    <div id="logo">
      <a [routerLink]="['/fooldal']" class="standard-logo" data-dark-logo="./assets/images/logo/eke.gif">
        <img src="./assets/images/logo/eke.gif" alt="Canvas Logo">
      </a>
      <a [routerLink]="['/fooldal']" class="retina-logo" data-dark-logo="./assets/images/logo/eke.gif">
        <img src="./assets/images/logo/eke.gif" alt="Canvas Logo">
      </a>
    </div>
    <!-- #logo end -->

    <div class="top-advert">
      <img src="./assets/images/logos/xxHerrmannjo.jpg" alt="Ad">
    </div>

  </div>

  <div id="header-wrap">

    <!-- Primary Navigation
      ============================================= -->
    <nav id="primary-menu" class="style-2">

      <div class="container clearfix">

        <div id="primary-menu-trigger">
          <i class="icon-reorder"></i>
        </div>

        <ul>
          <li [routerLinkActive]="['current']">
            <a [routerLink]="['/fooldal']">
              <div>Főoldal</div>
            </a>
          </li>
          <li [routerLinkActive]="['current']">
            <a [routerLink]="['/bemutato']">
              <div>Bemutató</div>
            </a>
          </li>
          <li [routerLinkActive]="['current']">
            <a [routerLink]="['/tagszervezetek']">
              <div>Tagszervezetek</div>
            </a>
            <ul>
              <li>
                <a href="shop.html">
                  <div>4 Columns</div>
                </a>
              </li>
              <li>
                <a href="shop-3.html">
                  <div>3 Columns</div>
                </a>
                <ul>
                  <li>
                    <a href="shop-3.html">
                      <div>Full Width</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-3-right-sidebar.html">
                      <div>Right Sidebar</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-3-left-sidebar.html">
                      <div>Left Sidebar</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="shop-2.html">
                  <div>2 Columns</div>
                </a>
                <ul>
                  <li>
                    <a href="shop-2-right-sidebar.html">
                      <div>Right Sidebar</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-2-left-sidebar.html">
                      <div>Left Sidebar</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-2-both-sidebar.html">
                      <div>Both Sidebar</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="shop-1.html">
                  <div>1 Columns</div>
                </a>
                <ul>
                  <li>
                    <a href="shop-1.html">
                      <div>Full Width</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-1-right-sidebar.html">
                      <div>Right Sidebar</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-1-left-sidebar.html">
                      <div>Left Sidebar</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-1-both-sidebar.html">
                      <div>Both Sidebar</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="shop-category-parallax.html">
                  <div>Categories - Parallax</div>
                </a>
              </li>
              <li>
                <a href="shop-combination-filter.html">
                  <div>Combination Filter</div>
                </a>
              </li>
              <li>
                <a href="shop-single.html">
                  <div>Single Product</div>
                </a>
                <ul>
                  <li>
                    <a href="shop-single.html">
                      <div>Full Width</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-single-right-sidebar.html">
                      <div>Right Sidebar</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-single-left-sidebar.html">
                      <div>Left Sidebar</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-single-both-sidebar.html">
                      <div>Both Sidebar</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="cart.html">
                  <div>Cart</div>
                </a>
              </li>
              <li>
                <a href="checkout.html">
                  <div>Checkout</div>
                </a>
              </li>
            </ul>
          </li>
          <li [routerLinkActive]="['current']">
            <a [routerLink]="['/kiadvanyok']">
              <div>Kiadványok</div>
            </a>
            <ul>
              <li>
                <a href="shop.html">
                  <div>4 Columns</div>
                </a>
              </li>
              <li>
                <a href="shop-3.html">
                  <div>3 Columns</div>
                </a>
                <ul>
                  <li>
                    <a href="shop-3.html">
                      <div>Full Width</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-3-right-sidebar.html">
                      <div>Right Sidebar</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-3-left-sidebar.html">
                      <div>Left Sidebar</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="shop-2.html">
                  <div>2 Columns</div>
                </a>
                <ul>
                  <li>
                    <a href="shop-2-right-sidebar.html">
                      <div>Right Sidebar</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-2-left-sidebar.html">
                      <div>Left Sidebar</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-2-both-sidebar.html">
                      <div>Both Sidebar</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="shop-1.html">
                  <div>1 Columns</div>
                </a>
                <ul>
                  <li>
                    <a href="shop-1.html">
                      <div>Full Width</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-1-right-sidebar.html">
                      <div>Right Sidebar</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-1-left-sidebar.html">
                      <div>Left Sidebar</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-1-both-sidebar.html">
                      <div>Both Sidebar</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="shop-category-parallax.html">
                  <div>Categories - Parallax</div>
                </a>
              </li>
              <li>
                <a href="shop-combination-filter.html">
                  <div>Combination Filter</div>
                </a>
              </li>
              <li>
                <a href="shop-single.html">
                  <div>Single Product</div>
                </a>
                <ul>
                  <li>
                    <a href="shop-single.html">
                      <div>Full Width</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-single-right-sidebar.html">
                      <div>Right Sidebar</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-single-left-sidebar.html">
                      <div>Left Sidebar</div>
                    </a>
                  </li>
                  <li>
                    <a href="shop-single-both-sidebar.html">
                      <div>Both Sidebar</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="cart.html">
                  <div>Cart</div>
                </a>
              </li>
              <li>
                <a href="checkout.html">
                  <div>Checkout</div>
                </a>
              </li>
            </ul>
          </li>
          <li [routerLinkActive]="['current']">
            <a [routerLink]="['/esemenynaptar']">
              <div>Eseménynaptár</div>
            </a>
          </li>
          <li [routerLinkActive]="['current']">
            <a [routerLink]="['/taborok']">
              <div>Táborok</div>
            </a>
          </li>
          <li [routerLinkActive]="['current']">
            <a [routerLink]="['/elerhetosegek']">
              <div>Elérhetőségek</div>
            </a>
          </li>
        </ul>

        <!-- Top Search
          ============================================= -->
        <div id="top-search">
          <a href="#" id="top-search-trigger">
            <i class="icon-search3"></i>
            <i class="icon-line-cross"></i>
          </a>
          <form action="search.html" method="get">
            <input type="text" name="q" class="form-control" value="" placeholder="Keresés megkezdéséhez nyomja meg az entert">
          </form>
        </div>
        <!-- #top-search end -->

      </div>

    </nav>
    <!-- #primary-menu end -->

  </div>

</header>
