<div class="clear"></div>

<div class="fancy-title title-border topmargin">
  <h3>Tagszervezetek</h3>
</div>

<div id="oc-images" class="owl-carousel image-carousel carousel-widget" data-speed="3000" data-pause="6000" data-loop="true"
  data-autoplay="true" data-margin="30" data-nav="false" data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-xl="6">

  <div class="oc-item">
    <div class="ipost clearfix">
      <div class="entry-image" style="margin-bottom: 15px;">
        <a href="#">
          <img class="image_fade img-responsive" src="./assets/images/logos/x Bansag.jpg" alt="Image">
        </a>
      </div>
      <div class="entry-title" style="text-align:center;font-size: 18px;">
        <h3 style="font-size: 18px;">
          <a href="blog-single.html">Bánsági Kárpát Egyesület</a>
        </h3>
      </div>
    </div>
  </div>
  <div class="oc-item">
    <div class="ipost clearfix">
      <div class="entry-image" style="margin-bottom: 15px;">
        <a href="#">
          <img class="image_fade img-responsive" src="./assets/images/logos/x Czaran.jpg" alt="Image">
        </a>
      </div>
      <div class="entry-title" style="text-align:center;font-size: 18px;">
        <h3>
          <a href="blog-single.html">Czárán Gyula Alapítvány</a>
        </h3>
      </div>
    </div>
  </div>
  <div class="oc-item">
    <div class="ipost clearfix">
      <div class="entry-image" style="margin-bottom: 15px;">
        <a href="#">
          <img class="image_fade" src="./assets/images/logos/x Csikszereda.jpg" alt="Image">
        </a>
      </div>
      <div class="entry-title" style="text-align:center;font-size: 18px;">
        <h3>
          <a href="blog-single.html">Csíki Természetjáró és Természetvédő Egyesület</a>
        </h3>
      </div>
    </div>
  </div>
  <div class="oc-item">
    <div class="ipost clearfix">
      <div class="entry-image" style="margin-bottom: 15px;">
        <a href="#">
          <img class="image_fade" src="./assets/images/logos/x Cstte.jpg" alt="Image">
        </a>
      </div>
      <div class="entry-title" style="text-align:center;font-size: 18px;">
        <h3>
          <a href="blog-single.html">Csíkszéki EKE</a>
        </h3>
      </div>
    </div>
  </div>
  <div class="oc-item">
    <div class="ipost clearfix">
      <div class="entry-image" style="margin-bottom: 15px;">
        <a href="#">
          <img class="image_fade" src="./assets/images/logos/x Cstte.jpg" alt="Image">
        </a>
      </div>
      <div class="entry-title" style="text-align:center;font-size: 18px;">
        <h3>
          <a href="blog-single.html">EKE '91 Nagyvárad – Bihar</a>
        </h3>
      </div>
    </div>
  </div>
  <div class="oc-item">
    <div class="ipost clearfix">
      <div class="entry-image" style="margin-bottom: 15px;">
        <a href="#">
          <img class="image_fade" src="./assets/images/logos/x Brasso.jpg" alt="Image">
        </a>
      </div>
      <div class="entry-title" style="text-align:center;font-size: 18px;">
        <h3>
          <a href="blog-single.html">EKE Brassó</a>
        </h3>
      </div>
    </div>
  </div>
  <div class="oc-item">
    <div class="ipost clearfix">
      <div class="entry-image" style="margin-bottom: 15px;">
        <a href="#">
          <img class="image_fade" src="./assets/images/logos/x Gutin.jpg" alt="Image">
        </a>
      </div>
      <div class="entry-title" style="text-align:center;font-size: 18px;">
        <h3>
          <a href="blog-single.html">EKE Gutin Nagybánya</a>
        </h3>
      </div>
    </div>
  </div>
  <div class="oc-item">
    <div class="ipost clearfix">
      <div class="entry-image" style="margin-bottom: 15px;">
        <a href="#">
          <img class="image_fade" src="./assets/images/logos/x Gyergyo.jpg" alt="Image">
        </a>
      </div>
      <div class="entry-title" style="text-align:center;font-size: 18px;">
        <h3>
          <a href="blog-single.html">EKE Gyergyó</a>
        </h3>
      </div>
    </div>
  </div>
  <div class="oc-item">
    <div class="ipost clearfix">
      <div class="entry-image" style="margin-bottom: 15px;">
        <a href="#">
          <img class="image_fade" src="./assets/images/logos/x Gyergyo.jpg" alt="Image">
        </a>
      </div>
      <div class="entry-title" style="text-align:center;font-size: 18px;">
        <h3>
          <a href="blog-single.html">EKE Kolozsvár 1891</a>
        </h3>
      </div>
    </div>
  </div>
  <div class="oc-item">
    <div class="ipost clearfix">
      <div class="entry-image" style="margin-bottom: 15px;">
        <a href="#">
          <img class="image_fade" src="./assets/images/logos/x Marosvasarhely.jpg" alt="Image">
        </a>
      </div>
      <div class="entry-title" style="text-align:center;font-size: 18px;">
        <h3>
          <a href="blog-single.html">EKE Marosvásárhely</a>
        </h3>
      </div>
    </div>
  </div>
  <div class="oc-item">
    <div class="ipost clearfix">
      <div class="entry-image" style="margin-bottom: 15px;">
        <a href="#">
          <img class="image_fade" src="./assets/images/logos/x Marosvasarhely.jpg" alt="Image">
        </a>
      </div>
      <div class="entry-title" style="text-align:center;font-size: 18px;">
        <h3>
          <a href="blog-single.html">EKE Szecseleváros (Négyfalu)</a>
        </h3>
      </div>
    </div>
  </div>
  <div class="oc-item">
    <div class="ipost clearfix">
      <div class="entry-image" style="margin-bottom: 15px;">
        <a href="#">
          <img class="image_fade" src="./assets/images/logos/x Marosvasarhely.jpg" alt="Image">
        </a>
      </div>
      <div class="entry-title" style="text-align:center;font-size: 18px;">
        <h3>
          <a href="blog-single.html">EKE Szatmárnémeti</a>
        </h3>
      </div>
    </div>
  </div>
  <div class="oc-item">
    <div class="ipost clearfix">
      <div class="entry-image" style="margin-bottom: 15px;">
        <a href="#">
          <img class="image_fade" src="./assets/images/logos/x Udvarhely.jpg" alt="Image">
        </a>
      </div>
      <div class="entry-title" style="text-align:center;font-size: 18px;">
        <h3>
          <a href="blog-single.html">EKE Székelyudvarhely</a>
        </h3>
      </div>
    </div>
  </div>
  <div class="oc-item">
    <div class="ipost clearfix">
      <div class="entry-image" style="margin-bottom: 15px;">
        <a href="#">
          <img class="image_fade" src="./assets/images/logos/x Torda.jpg" alt="Image">
        </a>
      </div>
      <div class="entry-title" style="text-align:center;font-size: 18px;">
        <h3>
          <a href="blog-single.html">EKE Torda</a>
        </h3>
      </div>
    </div>
  </div>
  <div class="oc-item">
    <div class="ipost clearfix">
      <div class="entry-image" style="margin-bottom: 15px;">
        <a href="#">
          <img class="image_fade" src="./assets/images/logos/x Haromszek.jpg" alt="Image">
        </a>
      </div>
      <div class="entry-title" style="text-align:center;font-size: 18px;">
        <h3>
          <a href="blog-single.html">Háromszéki EKE</a>
        </h3>
      </div>
    </div>
  </div>
  <div class="oc-item">
    <div class="ipost clearfix">
      <div class="entry-image" style="margin-bottom: 15px;">
        <a href="#">
          <img class="image_fade" src="./assets/images/logos/x Bansag.jpg" alt="Image">
        </a>
      </div>
      <div class="entry-title" style="text-align:center;font-size: 18px;">
        <h3>
          <a href="blog-single.html">Bánsági Kárpát Egyesület</a>
        </h3>
      </div>
    </div>
  </div>

</div>


<img src="./assets/images/magazine/ad.jpg" alt="Ad" class="aligncenter topmargin-lg nobottommargin">
