<div class="col_full bottommargin-lg clearfix">

  <div class="fancy-title title-border">
    <h3>Hírek</h3>
  </div>

  <div class="col_one_third" *ngFor="let newsArticle of newsArticles" style="margin-right: 2%;">
    <div class="ipost clearfix">
      <div class="entry-image">
        <a href="#">
          <img class="image_fade" src="{{newsArticle.mediaElements[0].name}}" alt="Image">
        </a>
      </div>
      <div class="entry-title">
        <h3>
          <a href="blog-single.html">{{newsArticle.title}}</a>
        </h3>
      </div>
      <ul class="entry-meta clearfix">
        <li>
          <i class="icon-calendar3"></i> {{newsArticle.dateAdded}}</li>
      </ul>
      <div class="entry-content">
        <p innerHTML="{{newsArticle.description}}..."></p>
      </div>
    </div>
  </div>

  <div class="clear"></div>

</div>
