<p-progressBar mode="indeterminate" [hidden]="progressBarVisible"></p-progressBar>

<div id="wrapper" class="clearfix">

  <app-top-bar></app-top-bar>
  <app-header></app-header>

  <section id="content">
    <div class="content-wrap">
      <app-newsbar></app-newsbar>
      <div class="container clearfix">
        <div class="postcontent nobottommargin">
          <router-outlet></router-outlet>
        </div>
        <app-sidebar></app-sidebar>
        <app-bottom></app-bottom>
      </div>
    </div>
  </section>

  <app-footer></app-footer>

</div>
