<p>
  <strong>M&uacute;lt &eacute;s jelen</strong>
  <strong>
    <br /> </strong>Az Erd&eacute;lyi K&aacute;rp&aacute;t-Egyes&uuml;let 1891-ben alakult meg Kolozsv&aacute;ron. Az idők folyam&aacute;n
  az EKE szellemis&eacute;g&eacute;nek kialak&iacute;t&aacute;s&aacute;ban olyan neves szem&eacute;lyis&eacute;gek vettek
  r&eacute;szt, mint Radn&oacute;ti Dezső, dr. Herrmann Antal, dr. Hank&oacute; Vilmos, Cz&aacute;r&aacute;n Gyula, dr. Cholnoky
  Jenő, dr. Balogh Ernő, dr. Tavaszy S&aacute;ndor, B&aacute;nyai J&aacute;nos vagy P&aacute;ter B&eacute;la. Az EKE tizen&ouml;t
  mened&eacute;kh&aacute;zat &eacute;p&iacute;tett fel &eacute;s &uuml;zemeltetett Erd&eacute;ly legk&uuml;l&ouml;nb&ouml;zőbb
  r&eacute;szein. Ki&eacute;p&iacute;tette Radnaborberek &eacute;s Dombh&aacute;t f&uuml;rdőtelepeit. Az EKE f&eacute;nykor&aacute;t
  a m&uacute;lt sz&aacute;zad elej&eacute;n &eacute;lte, amikor k&ouml;zel 6000 tagot sz&aacute;ml&aacute;lt. M&aacute;ty&aacute;s
  kir&aacute;ly sz&uuml;lőh&aacute;z&aacute;ban l&eacute;trehozta a K&aacute;rp&aacute;t M&uacute;zeumot, melyben Erd&eacute;ly
  n&eacute;prajzi keresztmetszet&eacute;t, n&eacute;pműv&eacute;szet&eacute;nek soksz&iacute;nűs&eacute;g&eacute;t mutatta
  be.</p>
<p>A m&uacute;zeum felavat&aacute;s&aacute;ra 1902. okt&oacute;ber 2-&aacute;n ker&uuml;lt sor, M&aacute;ty&aacute;s kir&aacute;ly
  lovasszobr&aacute;nak leleplez&eacute;se napj&aacute;n. A k&eacute;t vil&aacute;gh&aacute;bor&uacute; k&ouml;z&ouml;tti
  politikai helyzet miatt az egyes&uuml;let elvesztette K&aacute;rp&aacute;t M&uacute;zeum&aacute;t, majd 1948-ban a m&eacute;g
  megmaradt vagyon&aacute;t. Az EKE 1991-ben &uacute;jraszerveződ&ouml;tt, jelen pillanatban 16 tagszervezettel műk&ouml;dik.
  Tagjainak sz&aacute;ma k&ouml;zel 1500, az orsz&aacute;g legnagyobb turistaszervezete.</p>
<p>C&eacute;lok &eacute;s feladatok:</p>
<ul>
  <li>a term&eacute;szeti- &eacute;s az &eacute;p&iacute;tett k&ouml;rnyezet &eacute;rt&eacute;keinek tudatos&iacute;t&aacute;sa
    &eacute;s megőrz&eacute;se;</li>
  <li>mened&eacute;kh&aacute;zak l&eacute;tes&iacute;t&eacute;se;</li>
  <li>az ifj&uacute;s&aacute;g term&eacute;szet- &eacute;s k&ouml;rnyezettudatos nevel&eacute;se;</li>
  <li>az &ouml;koturizmus t&aacute;mogat&aacute;sa;</li>
  <li>a fizikai erőnl&eacute;t, lelki egyens&uacute;ly, &eacute;letk&eacute;pess&eacute;g, &ouml;nuralom &eacute;s csapatszellem
    fejleszt&eacute;se;</li>
  <li>hagyom&aacute;nyőrz&eacute;s;</li>
  <li>k&ouml;rnyezetv&eacute;delem.
    <br />
    <br />
    <strong>Magyar &Ouml;r&ouml;ks&eacute;g D&iacute;j
      <br /> </strong>Magyar &Ouml;r&ouml;ks&eacute;g-d&iacute;jjal t&uuml;ntett&eacute;k ki 2013. szeptember 21-&eacute;n az Erd&eacute;lyi
    K&aacute;rp&aacute;t-Egyes&uuml;letet, T&uuml;nd&eacute;rkertet &oacute;v&oacute; szeretet&eacute;&eacute;rt. A Magyar
    &Ouml;r&ouml;ks&eacute;g &eacute;s Eur&oacute;pa Egyes&uuml;let &aacute;ltal szervezett &uuml;nneps&eacute;gen az EKE
    elismer&eacute;ssel, oklev&eacute;llel &eacute;s magyar koron&aacute;t &aacute;br&aacute;zol&oacute; aranyjelv&eacute;nnyel
    gazdagodott.</li>
</ul>
<p>
  <strong>Az EKE tev&eacute;kenys&eacute;ge</strong>
</p>
<p>Az EKE tagszervezetei hetente szerveznek gyalogt&uacute;r&aacute;kat, &uacute;jra meg &uacute;jra bej&aacute;rva a kitaposott
  &ouml;sv&eacute;nyeket Erd&eacute;ly csod&aacute;latos t&aacute;jain &eacute;s k&uuml;lf&ouml;ld&ouml;n egyar&aacute;nt.
  A honismereti t&uacute;r&aacute;k alkalm&aacute;val a t&ouml;rt&eacute;nelem jelentős helysz&iacute;neit keresik fel. Jelenleg
  &ouml;sszesen a k&ouml;vetkező tizenk&eacute;t &ndash; gyalogos &eacute;s ker&eacute;kp&aacute;ros &ndash; teljes&iacute;tm&eacute;nyt&uacute;r&aacute;t
  szervezik az EKE tagszervezetei: Bedellő TT, D&eacute;l-Hargita TT, Erőss Zsolt TT, Hargita TT, J&oacute;kai M&oacute;r
  TT, K&oacute;s K&aacute;roly TT, Lehmann K&aacute;roly TT, Teleki Samu TT, T&eacute;li T&uacute;ral&eacute;ces &eacute;s
  Gyalogos TT, Tour de T&uacute;r TT, Udvarhely k&ouml;r&uuml;li TT &eacute;s Vasv&aacute;ri P&aacute;l TT. Term&eacute;szeti
  ter&uuml;letek karbantart&aacute;sa, t&uacute;ravezet&eacute;s, turistajelz&eacute;s-fest&eacute;sek, előad&aacute;sok,
  rendhagy&oacute; f&ouml;ldrajz&oacute;r&aacute;k, s&iacute;versenyek teszik v&aacute;ltozatoss&aacute; az EKE eg&eacute;sz
  &eacute;ves programk&iacute;n&aacute;lat&aacute;t.
  <br /> Az EKE partners&eacute;get v&aacute;llalt a M&aacute;riazellt Cs&iacute;ksomly&oacute;val &ouml;sszek&ouml;tő M&aacute;ria-&uacute;t
  nevű zar&aacute;ndok &uacute;tvonal erd&eacute;lyi szakasz&aacute;nak kijel&ouml;l&eacute;s&eacute;ben &eacute;s ki&eacute;p&iacute;t&eacute;s&eacute;ben,
  valamint r&eacute;szt vesz k&uuml;l&ouml;nb&ouml;ző helyi rendezv&eacute;nyeken, sz&iacute;nes&iacute;tve jeles &uuml;nnepeink
  (falunapok, b&uacute;cs&uacute;k) programk&iacute;n&aacute;lat&aacute;t.
  <br /> Folyamatosan k&uuml;zd a t&ouml;bbnyelvű turistajelz&eacute;sek kihelyez&eacute;s&eacute;&eacute;rt.</p>
<p>A Pestk&ouml;rny&eacute;ki K&aacute;rp&aacute;t Egyes&uuml;lettel k&ouml;z&ouml;sen karban tartja a K&aacute;rp&aacute;tok
  B&eacute;rcein V&aacute;ndorutat.</p>
<p>K&ouml;z&ouml;s c&eacute;ljaink megval&oacute;s&iacute;t&aacute;sa &eacute;rdek&eacute;ben az EKE sz&ouml;vets&eacute;gi
  meg&aacute;llapod&aacute;st k&ouml;t&ouml;tt a Hazaj&aacute;r&oacute; Honismereti &eacute;s Turista Egylettel.</p>
<p>Az EKE Erőss Zsolt-oklev&eacute;llel t&uuml;nteti ki azon tagjait, akik az &ouml;sszes 2500 m-n&eacute;l magasabb hazai cs&uacute;csot
  megm&aacute;ssz&aacute;k.</p>
<p>Feleleven&iacute;tve a r&eacute;gi hagyom&aacute;nyokat, az EKE 2016 &oacute;ta &eacute;vente EKE-b&aacute;lt szervez.</p>
<p>
  <br />
  <strong>Az EKE-V&aacute;r</strong>
</p>
<p>Az EKE orsz&aacute;gos k&uuml;ld&ouml;ttgyűl&eacute;se 2012. m&aacute;rcius 31-&eacute;n Szentegyh&aacute;zasfaluban d&ouml;nt&ouml;tt
  egy ingatlan v&aacute;s&aacute;rl&aacute;s&aacute;r&oacute;l. A legmegfelelőbbnek a Kolozs megyei V&aacute;rfalv&aacute;n
  &ndash; az egykori Aranyossz&eacute;ken, a 377. sz&aacute;m alatt &ndash; &aacute;ll&oacute; ingatlan &iacute;g&eacute;rkezett,
  amely egy 2054 m
  <sup>2</sup>-nyi telekből &eacute;s egy 1862-ben &eacute;p&iacute;tett sz&eacute;kely paraszth&aacute;zb&oacute;l &aacute;ll,
  valamint az ide tartoz&oacute; mell&eacute;k&eacute;p&uuml;letekből. 2012. november 6-&aacute;n &iacute;ratt&aacute;k &aacute;t
  az ingatlant v&eacute;glegesen az Erd&eacute;lyi K&aacute;rp&aacute;t-Egyes&uuml;let nev&eacute;re. A h&aacute;z felavat&aacute;s&aacute;ra,
  a kulcs&aacute;tad&aacute;si &uuml;nneps&eacute;gre a 2013-as m&aacute;jusi EKE-napi &uuml;nneps&eacute;gen ker&uuml;lt
  sor.</p>
<p>A v&aacute;rfalvi h&aacute;z &eacute;s birtok lett az
  <strong>EKE V&aacute;ra</strong>, Dezső L&aacute;szl&oacute; akkori orsz&aacute;gos eln&ouml;k pedig &iacute;gy fogalmazott: &bdquo;
  <em>Jelenleg az Erd&eacute;lyi K&aacute;rp&aacute;t-Egyes&uuml;letnek 15 b&aacute;sty&aacute;ja van Erd&eacute;ly k&uuml;l&ouml;nb&ouml;ző
    r&eacute;szein, ezek szimbolikusan is egy v&aacute;rat alkotnak, azt hiszem, hogy &ouml;sszefogva nem lesz neh&eacute;z
    egy val&oacute;di v&aacute;rat vagy ak&aacute;r kast&eacute;lyt is var&aacute;zsolni.</em>&rdquo; Az elm&uacute;lt &eacute;vek
  alatt &ndash; sok esetben k&ouml;zmunk&aacute;k folyam&aacute;n &ndash; v&eacute;gzett munk&aacute;latoknak k&ouml;sz&ouml;nhetően
  jelenleg a r&eacute;gi h&aacute;zban 34, a kertben tal&aacute;lhat&oacute; n&eacute;gy fah&aacute;zik&oacute;ban pedig
  16 &aacute;gy biztos&iacute;t sz&aacute;ll&aacute;st t&aacute;boroz&oacute;knak, kir&aacute;ndul&oacute;knak, oszt&aacute;lykir&aacute;ndul&aacute;sokon
  &eacute;s k&eacute;pz&eacute;seken r&eacute;sztvevőknek.</p>
<p>
  <strong>M&aacute;jus 12. &ndash; az EKE napja</strong>
</p>
<p>Az EKE 2008-as gyergy&oacute;sz&aacute;rhegyi rendk&iacute;v&uuml;li k&ouml;zgyűl&eacute;se egy&ouml;ntetű d&ouml;nt&eacute;ssel
  az EKE napj&aacute;v&aacute; nyilv&aacute;n&iacute;totta m&aacute;jus 12-&eacute;t, hiszen 1891-ben ezen a napon kezdte
  meg tev&eacute;kenys&eacute;g&eacute;t az egyes&uuml;let. 2013 &oacute;ta V&aacute;rfalv&aacute;n, az EKE-V&aacute;rban
  szervez k&eacute;t&eacute;vente EKE-napi &uuml;nneps&eacute;get az egyes&uuml;let, itt tartotta 2016-ban a 125 &eacute;ves
  jubileumi &eacute;vfordul&oacute;s &uuml;nneps&eacute;get is.&nbsp;</p>
<p>
  <strong>EKE V&aacute;ndort&aacute;bor &ndash; az EKE legnagyobb &eacute;ves rendezv&eacute;nye</strong>
</p>
<p>1992 &oacute;ta &eacute;vente egy alkalommal &ndash; minden augusztus első het&eacute;ben &ndash; bakancsos turistatal&aacute;lkoz&oacute;ra
  gyűl &ouml;ssze az EKE tags&aacute;ga. A v&aacute;ndort&aacute;borok helysz&iacute;ne minden &eacute;vben m&aacute;s: Erd&eacute;lynek
  egy-egy festői vid&eacute;ke, h&aacute;zigazd&aacute;ja pedig az EKE valamelyik oszt&aacute;lya.</p>
<p>A t&aacute;bori r&eacute;sztvevők sz&aacute;ma t&uacute;ll&eacute;pte az 1500-at, jelentős magyarorsz&aacute;gi r&eacute;szv&eacute;tellel.
  A V&aacute;ndort&aacute;bor kitűnő alkalom t&aacute;jaink, t&ouml;rt&eacute;nelm&uuml;nk, hagyom&aacute;nyaink jobb megismer&eacute;s&eacute;re;
  az &eacute;ves K&ouml;zgyűl&eacute;s megtart&aacute;s&aacute;ra; bar&aacute;ti kapcsolatok kialak&iacute;t&aacute;s&aacute;ra,
  elm&eacute;ly&iacute;t&eacute;s&eacute;re az egyes EKE-oszt&aacute;lyok, t&aacute;rsszervezetek, illetve megh&iacute;vott
  szervezetek, valamint ezek tagjai k&ouml;z&ouml;tt. A V&aacute;ndort&aacute;borban a r&eacute;szv&eacute;tel &ouml;nk&ouml;lts&eacute;ges
  &eacute;s &ouml;nell&aacute;t&oacute;. Legyen &Ouml;n is a soron k&ouml;vetkező EKE v&aacute;ndort&aacute;bor lak&oacute;ja!</p>
<p>
  <strong>ERA-tag az EKE</strong>
</p>
<ol start="2017">
  <li>szeptember 30-&aacute;n az Eur&oacute;pai Gyalogt&uacute;ra Sz&ouml;vets&eacute;g &ndash; European Ramblers' Association
    (ERA) tagja lett az Erd&eacute;lyi K&aacute;rp&aacute;t-Egyes&uuml;let (EKE). A mintegy 60 tagszervezettel rendelkező
    ERA fő feladata az &aacute;ltala kialak&iacute;tott tizenegy
    <strong>Eur&oacute;pai Hossz&uacute;t&aacute;v&uacute; V&aacute;ndor&uacute;t</strong> (E1&ndash;E11) kijel&ouml;l&eacute;se,
    ki&eacute;p&iacute;t&eacute;se, fenntart&aacute;sa. Erd&eacute;lyt az E3-as, valamint az E8-as &eacute;rinti.</li>
</ol>
<p>
  <strong>EKE-m&uacute;zeum</strong>
  <strong>
    <br /> </strong>115 &eacute;v eltelt&eacute;vel, szinte napra pontosan az K&aacute;rp&aacute;t M&uacute;zeum l&eacute;trehoz&aacute;sa
  ut&aacute;n Erd&eacute;lyi K&aacute;rp&aacute;t-Egyes&uuml;let &uacute;jra m&uacute;zeumot alap&iacute;tott &ndash; ez&uacute;ttal
  nem egy &eacute;p&uuml;letben, hanem a vil&aacute;gh&aacute;l&oacute;n, a www.ekemuzeum.ro c&iacute;men. A virtu&aacute;lis
  falak k&ouml;z&ouml;tt megtal&aacute;lhat&oacute;k az EKE fenn&aacute;ll&aacute;sa &oacute;ta őrz&ouml;tt erd&eacute;lyi
  &eacute;rt&eacute;kek, az egyes&uuml;let megsz&uuml;ntet&eacute;s&eacute;ig, 1948-ig. A hagyom&aacute;nyt folytatva n&eacute;prajzi,
  honismereti lelőhely ez, de ugyanakkor az egyes&uuml;let t&ouml;rt&eacute;nelemk&ouml;nyve is. Az EKE &ouml;r&ouml;mmel
  fogad r&eacute;gi dokumentumokat, t&aacute;rgyi eml&eacute;keket az egyes&uuml;let első, 1891&ndash;1948-as időszak&aacute;b&oacute;l,
  ezeket k&eacute;rj&uuml;k az
  <a href="mailto:eke@eke.ma">eke@eke.ma</a> e-mail c&iacute;mre eljuttatni.</p>
