<div class="col_full bottommargin-lg clearfix">

  <div class="fancy-title title-border">
    <h3>Kiadványok</h3>
  </div>

  <div class="col_one_third">
    <div class="ipost clearfix">
      <div class="entry-image">
        <a href="#">
          <img class="image_fade" src="./assets/images/kiadv/gyop.jpg" alt="Image">
        </a>
      </div>
      <div class="entry-title">
        <h3>
          <a href="blog-single.html">Az EKE folyóirata,<br /> az Erdélyi Gyopár</a>
        </h3>
      </div>
      <ul class="entry-meta clearfix">
      </ul>
      <div class="entry-content">
        <p>Az Erdélyi Gyopár az 1892 és 1947 között megjelent Erdély utódja, jelen pillanatban is az egyetlen magyar nyelvű...</p>
      </div>
    </div>
  </div>

  <div class="col_one_third">
    <div class="ipost clearfix">
      <div class="entry-image">
        <a href="#">
          <img class="image_fade" src="./assets/images/kiadv/bakancs.jpg" alt="Image">
        </a>
      </div>
      <div class="entry-title">
        <h3>
          <a href="blog-single.html">Nézzünk szét Erdélyben <br /> az EKE-bakancsok segítségével</a>
        </h3>
      </div>
      <ul class="entry-meta clearfix">
      </ul>
      <div class="entry-content">
        <p>Kiadványsorozat első két része látott napvilágot az EKE 125. születésnapjára, 2016-ban...</p>
      </div>
    </div>
  </div>

  <div class="col_one_third col_last">
    <div class="ipost clearfix">
      <div class="entry-image">
        <a href="#">
          <img class="image_fade" src="./assets/images/kiadv/memo.jpg" alt="Image">
        </a>
      </div>
      <div class="entry-title">
        <h3>
          <a href="blog-single.html">EKE-memóriakártyák:<br /> játék kicsiknek és nagyoknak</a>
        </h3>
      </div>
      <ul class="entry-meta clearfix">
      </ul>
      <div class="entry-content">
        <p>Az EKE-memóriakártyák segítségével játszva ismerhetik meg kicsik és nagyok...</p>
      </div>
    </div>
  </div>

  <div class="clear"></div>

</div>
