<div>
  <h3>Erd&eacute;lyi Gyop&aacute;r</h3>
  <div>Az Erd&eacute;lyi Gyop&aacute;r az 1892 &eacute;s 1947 k&ouml;z&ouml;tt megjelent Erd&eacute;ly ut&oacute;dja, jelen pillanatban is az egyetlen magyar nyelvű, 1991 &oacute;ta rendszeresen megjelenő, term&eacute;szetj&aacute;r&aacute;st, honismeretet &eacute;s k&ouml;rnyezetv&eacute;delmet &ouml;tv&ouml;ző kiadv&aacute;ny Erd&eacute;lyben. A foly&oacute;irat &eacute;vente hatszor, minden m&aacute;sodik h&oacute;nap 1-j&eacute;n jelenik meg, 2003 &oacute;ta sz&iacute;nes bor&iacute;t&oacute;val, 32 feh&eacute;r-fekete &eacute;s 12 belső sz&iacute;nes oldallal.</div>
  <div>2011-től meg&uacute;jult k&uuml;lsővel, bővebb tartalommal k&iacute;n&aacute;ljuk mindazoknak,</div>
  <div>&bull; akik k&iacute;v&aacute;ncsiak Erd&eacute;ly sz&eacute;ps&eacute;geire &eacute;s sz&iacute;vesen j&aacute;rj&aacute;k a term&eacute;szetet;</div>
  <div>&bull; akiknek fontos a hagyom&aacute;ny &eacute;s honismeret, sz&iacute;v&uuml;gy&uuml;k a k&ouml;rnyezetv&eacute;delem.</div>
  <div>Az Erd&eacute;lyi Gyop&aacute;r megv&aacute;s&aacute;rolhat&oacute; az EKE-tagszervezetek sz&eacute;khelyein vagy megrendelhető eg&eacute;sz &eacute;vre az elofizetes@eke.ma c&iacute;men, mind Erd&eacute;lyben, mind Magyarorsz&aacute;gon. Honlap: www.erdelyigyopar.ro</div>
  <div>2017-ben jelent meg az Erd&eacute;lyi Gyop&aacute;r gyerekmell&eacute;klete, a Gyop&aacute;rka első sz&aacute;ma. A minden &eacute;vben egyszer kiadott kiadv&aacute;nyban sz&aacute;mos feladat &eacute;s k&iacute;s&eacute;rlet, tud&aacute;sgyarap&iacute;t&oacute; ismeretek az Isten adta term&eacute;szetről &eacute;s &eacute;lővil&aacute;gr&oacute;l, keresztrejtv&eacute;ny &eacute;s gy&oacute;gyn&ouml;v&eacute;ny-ismertető k&eacute;pezi a gazdag tartalmat.</div>
  <br />
  <br />
  <br />
  <h3>EKE-bakancs</h3>
  <div>Kiadv&aacute;nysorozat első k&eacute;t r&eacute;sze l&aacute;tott napvil&aacute;got az EKE 125. sz&uuml;let&eacute;snapj&aacute;ra, 2016-ban, majd az&oacute;ta &uacute;jabb n&eacute;gy k&ouml;tet jelent meg. &Uuml;zenet&uuml;k egy&eacute;rtelmű: kelj&uuml;nk &uacute;tra, n&eacute;zz&uuml;nk sz&eacute;t Erd&eacute;lyben, vegy&uuml;k sz&aacute;mba &eacute;rt&eacute;keinket, &eacute;s mutassuk meg ezeket m&aacute;soknak is. Legy&uuml;nk b&uuml;szk&eacute;k javainkra! H&aacute;tizs&aacute;kos &uacute;tit&aacute;rs &ndash; egy-egy vid&eacute;kről egy-egy spir&aacute;lozott kis f&uuml;zetecske, benne n&eacute;h&aacute;ny t&uacute;rale&iacute;r&aacute;ssal, t&ouml;rt&eacute;nelmi ismertetővel kalauz gyan&aacute;nt kisebb-nagyobb t&aacute;rsas&aacute;goknak.</div>
  <div>A kiadv&aacute;nysorozat első hat k&ouml;tete:</div>
  <div>1. Barangol&aacute;sok a Remetei-sziklaszoros &eacute;s a Bedellő k&ouml;rny&eacute;k&eacute;n &ndash; Torock&oacute;i-hegys&eacute;g</div>
  <div>2. Barangol&aacute;sok Brass&oacute; k&ouml;rny&eacute;k&eacute;n &ndash; Kereszt&eacute;ny-havas</div>
  <div>3. Barangol&aacute;sok a K&ouml;zponti- &eacute;s &Eacute;szak-Hargit&aacute;n &ndash; Hargita-hegys&eacute;g</div>
  <div>4. Barangol&aacute;sok V&aacute;rfalva k&ouml;zs&eacute;gben &eacute;s k&ouml;rny&eacute;k&eacute;n &ndash; V&aacute;rfalva &eacute;s az EKE V&aacute;ra</div>
  <div>5. Barangol&aacute;sok a K&ouml;z&eacute;p-B&aacute;ns&aacute;g karsztvid&eacute;k&eacute;n &ndash; Aninai-hegys&eacute;g</div>
  <div>6. Barangol&aacute;sok a K&aacute;rp&aacute;t-kanyarban &ndash; Csuk&aacute;s-hegys&eacute;g</div>
  <br />
  <br />
  <br />
  <h3>EKE-mem&oacute;riak&aacute;rtyamem&oacute;</h3>
  <div>Az EKE-mem&oacute;riak&aacute;rty&aacute;k seg&iacute;ts&eacute;g&eacute;vel j&aacute;tszva ismerhetik meg kicsik &eacute;s nagyok Erd&eacute;ly sz&eacute;ps&eacute;geit, term&eacute;szeti t&aacute;jait, nevezetes &eacute;p&iacute;tm&eacute;nyeit, gomb&aacute;it, az &aacute;llat- &eacute;s n&ouml;v&eacute;nyvil&aacute;g sz&iacute;ne-jav&aacute;t.</div>
  <br />
  <br />
  <br />
  <div>EKE-napt&aacute;r</div>
  <div>Az egyes&uuml;let tagjai &aacute;ltal k&eacute;sz&iacute;tett felv&eacute;telekből &aacute;ll&iacute;t &ouml;ssze &eacute;vente falinapt&aacute;rt az EKE, mely mindig a ny&aacute;ri EKE V&aacute;ndort&aacute;borra jelenik meg. Tartalma v&aacute;ltozatos, de c&eacute;lja &ouml;r&ouml;k: Erd&eacute;ly term&eacute;szeti kincseit, n&eacute;pviseleteit bemutatni a sz&eacute;pet &eacute;rt&eacute;kelőknek.</div>
  <div>&nbsp;</div>
  <div>A kiadv&aacute;nyok megrendelhetők az elofizetes@eke.ma c&iacute;men, EKE-tagoknak kedvezm&eacute;ny.</div>
  </div>