<app-home-slider>
</app-home-slider>

<app-home-news></app-home-news>
<app-home-prospects></app-home-prospects>

<div class="bottommargin-lg">
  <img src="./assets/images/magazine/ad.jpg" alt="Ad" class="aligncenter notopmargin nobottommargin">
</div>

<div class="col_full bottommargin-lg clearfix">

  <div class="fancy-title title-border">
    <h3>Eseménynaptár</h3>
  </div>

  <p-schedule [events]="events" [header]="headerConfig" locale="hu" themeSystem="bootstrap4"></p-schedule>

  <div class="clear"></div>

</div>

<app-home-camp></app-home-camp>