<div id="top-bar">

  <div class="container clearfix">

    <div class="col_half nobottommargin">

      <!-- Top Links
        ============================================= -->
      <div class="top-links">
        <ul>
          <!-- <li>
            <a href="login-register.html">Login</a>
            <div class="top-link-section">
              <form id="top-login" role="form">
                <div class="input-group" id="top-login-username">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="icon-user"></i>
                    </div>
                  </div>
                  <input type="email" class="form-control" placeholder="Email address" required="">
                </div>
                <div class="input-group" id="top-login-password">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="icon-key"></i>
                    </div>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" required="">
                </div>
                <label class="checkbox">
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
                <button class="btn btn-danger btn-block" type="submit">Sign in</button>
              </form>
            </div>
          </li> -->
          <li>
            <a href="http://www.erdelyigyopar.ro" target="_blank">Erdélyi Gyopár</a>
          </li>
          <li>
            <a href="http://www.ekemuzeum.ro" target="_blank">EKE Múzeum</a>
          </li>
          <li>
            <a href="#" target="_blank">EKE Vándortábor</a>
          </li>
          <li>
            <a href="#" target="_blank">EKE Vár</a>
          </li>
          <!-- <li>
            <a href="contact.html">Elérhetőségek</a>
          </li> -->
        </ul>
      </div>
      <!-- .top-links end -->

    </div>

    <div class="col_half fright col_last nobottommargin">

      <!-- Top Social
        ============================================= -->
      <div id="top-social">
        <ul>
          <li>
            <a href="https://www.facebook.com/EKE-Erd%C3%A9lyi-K%C3%A1rp%C3%A1t-Egyes%C3%BClet-752173914839126/" class="si-facebook" target="_blank">
              <span class="ts-icon">
                <i class="icon-facebook"></i>
              </span>
              <span class="ts-text">Facebook</span>
            </a>
          </li>
          <li>
            <a href="#" class="si-instagram">
              <span class="ts-icon">
                <i class="icon-instagram2"></i>
              </span>
              <span class="ts-text">Instagram</span>
            </a>
          </li>
          <li>
            <a href="tel:+91.11.85412542" class="si-call">
              <span class="ts-icon">
                <i class="icon-call"></i>
              </span>
              <span class="ts-text">+91.11.85412542</span>
            </a>
          </li>
          <li>
            <a href="mailto:info@canvas.com" class="si-email3">
              <span class="ts-icon">
                <i class="icon-email3"></i>
              </span>
              <span class="ts-text">info@canvas.com</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- #top-social end -->

    </div>

  </div>

</div>
